<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rosyid.restoran">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HalamanPelayan"
            android:label="Dashboard Pelayan"
            android:parentActivityName=".HalamanPelayan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HalamanDapur"
            android:label="Dashboard Dapur"
            android:parentActivityName=".HalamanDapur"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InputPesanan"
            android:label="Input pesanan"
            android:parentActivityName=".InputPesanan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailMenu"
            android:label="Detai Menu"
            android:parentActivityName=".DetailMenu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="Dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TambahMenu"
            android:label="Tambah menu"
            android:parentActivityName=".TambahMenu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ListMenu"
            android:label="Pilihan menu"
            android:parentActivityName=".ListMenu"
            android:theme="@style/AppTheme" />
    </application>

</manifest>